{:linters
 {;; :unused-referred-var {:level :off}
  :unresolved-var {:exclude []}
  :unused-namespace {:exclude []}
  :clojure-lsp/unused-public-var
  {:exclude #{}
   :exclude-regex #{}}}
 :lint-as {}
 :hooks {:analyze-call {cem.macros/binding-block hooks.binding-block/binding-block
                        cem.macros/bb hooks.binding-block/bb}
         :macroexpand {cem.macros/args macros/args
                       cem.macros/enable-obj-bitfield-option! macros/enable-obj-bitfield-option!
                       cem.macros/disable-obj-bitfield-option! macros/disable-obj-bitfield-option!}}}
